
    <div style="position: relative; z-index: 1;">
        <h1 class="display-4 mb-0 p-0 text-center" style="margin-top: 20px; font-size: 80px;">HOTELNAPOLI</h1>
        <p class="m-0 p-0 text-center">Dove il lusso incontra il comfort</p>
    </div>

