@model int

@{
    ViewData["Title"] = "TotalPensioneCompleta";
}

<a asp-action="Index" class="btn btn-outline-light border-2 fs-4 rounded-0"><i class="bi bi-arrow-bar-left"></i></a>
<h1 class="text-center">PRENOTAZIONI PER PENSIONE COMPLETA</h1>
<div>
    <dl class="row">
            <div class="col-6 offset-4 fs-4">
                <span class="fw-bold">Totale prenotazioni per pensione completa</span>
            </div>
        <div class="col-6 offset-6 fs-4">
            <span class="fw-bold">Totale: @Model</span>
            </div>
    </dl>
</div>
