@model HOTELNAPOLI.Models.Servizi

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-3">AGGIUNGI SERVIZIO</h1>


<div class="row bg-black bg-opacity-75 text-white p-5">
    <div class="col-8 offset-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <select asp-for="Descrizione" asp-items="Html.GetEnumSelectList<DescrizioneServizi>()" class="form-control"></select>
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRichiestaServizio" class="control-label"></label>
                <input asp-for="DataRichiestaServizio" class="form-control" />
                <span asp-validation-for="DataRichiestaServizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDPrenotazione" class="control-label"></label>
                <select asp-for="IDPrenotazione" class ="form-control" asp-items="ViewBag.IDPrenotazione"></select>
            </div>
            <div class="form-group mt-3 text-center">
                <a asp-action="Index" class="btn btn-outline-light fs-4 rounded-0"><i class="bi bi-arrow-bar-left"></i></a><input type="submit" value="AGGIUNGI" class="btn btn-outline-light fs-4 rounded-0" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
